.detail{
    max-width: 1200px;
    padding: 1.5rem;
    margin: 0 auto;
}

.detail__title{
    margin-bottom: 20px;
    text-align: center;
}

.detail__content{
    gap: 1rem;
    display: flex;
}

.content__image{
    height: 300px;
    flex: 0.6;
}

.content__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__description{
    flex: 0.4;
}

.detail__map{
    display: flex;
    flex-direction: column;
}

.map__title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


@media screen and (max-width: 860px) {
    .detail__content{
        flex-direction: column;
    }
}