.contents{
    max-width: 1200px;
    margin: 10px auto;
    color: #005A8D;
}

.content-title {
    font-weight: 800;
    text-align: center;
    margin: 30px;
}

.highlight{
    color: white;
    padding: 0 10px;
    background-color:#005A8D;
    text-align: center;
    border-radius: 5px;
    width: fit-content;
    margin:0;
}
.content-prokes, .content-ppkm{
    display:flex;
    margin: 0 50px;
}
.content-prokes img, .content-ppkm img{
    max-width: 500px;
    margin: auto;
}
.content-description{
    margin: 30px;
    text-align: justify;
}
.content-description p{
    font-weight: bold;
}

.source{
    font-size: 13px;
    color: gray;
}
.source p{
    font-weight:normal;
    margin:0;
}
.source a{
    color: gray;
    text-decoration: none;
}
.source a:hover{
    color: #005A8D;
    font-weight: bold;
}
@media screen and (max-width: 499px) {
    .content-prokes{
        margin: 0 20px;
    }
}

@media screen and (max-width: 900px) {
    .content-prokes{
        flex-direction: column;
    }
    .content-ppkm{
        flex-direction: column-reverse;
    }
    .content-prokes img{
        max-width: 100%;
    }
}