.content-wisata{
    text-align: center;
}
.content-wisata h1{
	margin-top:20px;
}
.wisata {
	margin: auto;
	padding: 20px 50px;
	text-align: left;
	display: grid;
	grid-row-gap: 20px;
	max-width: 1200px;
}
.list-wisata {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.list-desc{
	padding: 0 20px 20px 20px;	
}

.wisata-desc{
	font-size: 14px;
	color: #545454;
	line-height: 1.5em;
}

.wisata-pic {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.wisata-title{
	color: #005A8D;
}

.wisata-title::after{
    content: "";
    width: 100px;
    margin: 8px auto;
    display: block;
    border-bottom: 2px solid #005A8D;
}

.wisata-button__container{
	display: flex;
	justify-content: flex-end;
}

.wisata-button{
	margin-top: 24px;
	padding: 14px 20px;
	color: #fff;
	background-color: #005A8D;
	outline: none;
	border: none;
	border-radius: 4px;
	transition: all 0.5s;
	text-align: center;
	width: 140px;
}

.wisata-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}


.wisata-button span::after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.wisata-button:hover span {
	padding-right: 25px;
}
  
.wisata-button:hover span:after {
	opacity: 1;
	right: 0;
}

  

.wisata-title-isLoading{
	width: 200px;
	height: 30px;
	margin: 20px auto;
	background-color: #d6d5d5;
}
.wisata-pic-isLoading {
	width: 100%;
	height: 200px;
    background-color: #d6d5d5;
}

.wisata-name-isLoading {
	margin: 20px 0;
	width: 100%;
	height: 24px;
	background-color: #d6d5d5;
}
.wisata-name {
	font-weight: bold;
	font-size: 22px;
	transition: 0.3s opacity;
    line-height: 44px;
    text-decoration: none;
	color: #005A8D;
}

@media screen and (max-width: 499px) {
	.list-wisata {
		margin: auto;
	}
	.wisata-pic {
		height: 150px;
	}
	.wisata-name p{
		font-size: 20px;
	}
	.wisata {
		padding: 20px 20px;
	}
}

@media screen and (min-width: 650px) {
	.wisata {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
		grid-row-gap: 20px
	}
	.list-wisata {
		margin: auto;
		max-width: 100%;
	}
}
@media screen and (min-width: 900px) {
	.wisata {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr
	}
}