.hero-content{
    width: 100%;
    text-align: center;
}
.hero-wisata{
    background-image: url('https://images.ctfassets.net/9vpzzn4fqhve/6SSX5Eakvc3cWJiXoSx79g/723c83bdcc649028544f4c1ebbb947b0/pantai-silung.jpg');
    height: 300px;
    background-size: cover;
    width: 100%;
    background-position: center;
}
.hero_inner {
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 800px;
}
.hero_container{
    border-radius: 5px;
    padding: 20px;
    background:rgb(0, 90, 141, 0.4);
}
.hero_title {
    color: #fff;
    margin: 0 auto;
}
.hero_tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 549px) {
    .hero-wisata{
        max-height: 300px;
    }
    .hero_inner {
        padding-top: 100px;
    }
    .iNOfhT{
        max-height: 300px;
    }
    .hero_container{
        margin: 20px auto;
        padding: 0px;
    }
    .hero_title {
        font-size: 18px;
    }
    .hero_tagline {
        font-size: 12px;
    }
}

@media screen and (min-width: 500px) {
    .hero-wisata{
        max-height: 480px;
    }
    .iNOfhT{
        max-height: 480px;
    }
    .hero_container{
        margin: 50px auto;
    }
    .hero_title {
        font-size: 25px;
    }
    .hero_tagline {
        font-size: 18px;
    }
}

@media screen and (min-width: 850px) {
    .hero-wisata{
        max-height: 550px;
    }
    .iNOfhT{
        max-height: 550px;
    }
    .hero_container{
        margin: 100px auto;
    }
    .hero_title {
        font-size: 24px;
    }
    .hero_tagline {
        font-size: 16px;
    }
}