.hero-content{
    width: 100%;
    text-align: center;
}
.hero-wisata{
    background-image: url('../images/HeroList.jpg');
    height: 300px;
    background-size: cover;
    width: 100%;
    background-position: center;
}
.hero_inner {
    align-items: center;
    margin: 0 auto;
    padding: 120px 0;
    max-width: 800px;
    color: #fff;
}
.hero_innerWisata{
    align-items: center;
    margin: 0 auto;
    padding: 50px 0;
    max-width: 800px;
    color: #fff;
}
.hero_container{
    border-radius: 5px;
    padding: 20px;
    background:rgb(0, 90, 141, 0.4);
    color: #fff;
    margin: 80px auto;
}
.hero_title {
    font-family: 'Satisfy', cursive;
    margin: 0 auto;
    font-size: 60px;
}
.hero_tagline {
    font-size: 16px;
    font-weight: 200;
}
.hero_jogja {
    font-size: 25px;
}
.hero_description {
    font-size: 13px;
}

.hero_button{
    margin-top: 20px;
}

.hero_button a{
    background-color: #005A8D;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.slide-background-loaded{
    filter: brightness(0.6);
}

@media screen and (max-width: 600px) {
    .hero_title {
        width: 200px;
        margin: 0 auto;
        font-size: 30px;
    }
    .hero_tagline {
        font-size: 12px;
    }
    .hero_container{
        margin: 100px auto;
        padding: 10px;
    }
    .hero_jogja {
        font-size: 20px;
    }
    .hero_description {
        font-size: 10px;
    }
}
